// Mixins imported across various stylesheets.

@mixin unstyle-button {
  -webkit-appearance: initial;
  background: transparent;
  border: 0;
  padding: 0;

  &:focus,
  &:active {
    outline: none;
  }
}

@mixin unstyle-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin link-styling {
  color: $theme-blue;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }

  &:disabled {
    color: $text-gray;
    cursor: initial;
  }
}
