// Variables imported across various stylesheets.

// Colors.
$background-white: #fafafa;
$text-dark-grey: #303030;
$theme-blue: #03e;

// Font sizes.
$font-size-very-large: 20px;
$font-size-large: 16px;
$font-size-regular: 14px;
$font-size-small: 12px;
$font-size-very-small: 10px;

// May include layout measurements, z-indices, animations...
